In [34]:
import pandas as pd
urun=pd.read_csv('FAOSTAT_data_en_6-30-2024.csv')
urun

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,792,Türkiye,5312,Area harvested,01371,"Almonds, in shell",1961,1961,ha,13060.00,X,Figure from international organizations,Unofficial figure
1,QCL,Crops and livestock products,792,Türkiye,5419,Yield,01371,"Almonds, in shell",1961,1961,100 g/ha,20980.00,E,Estimated value,NaN
2,QCL,Crops and livestock products,792,Türkiye,5510,Production,01371,"Almonds, in shell",1961,1961,t,27400.00,A,Official figure,NaN
3,QCL,Crops and livestock products,792,Türkiye,5312,Area harvested,01371,"Almonds, in shell",1962,1962,ha,13345.00,X,Figure from international organizations,Unofficial figure
4,QCL,Crops and livestock products,792,Türkiye,5419,Yield,01371,"Almonds, in shell",1962,1962,100 g/ha,18284.00,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26519,QCL,Crops and livestock products,792,Türkiye,5510,Production,22230.01,Yoghurt,2017,2017,t,10212.38,I,Imputed value,NaN
26520,QCL,Crops and livestock products,792,Türkiye,5510,Production,22230.01,Yoghurt,2018,2018,t,10559.66,I,Imputed value,NaN
26521,QCL,Crops and livestock products,792,Türkiye,5510,Production,22230.01,Yoghurt,2019,2019,t,10980.97,I,Imputed value,NaN
26522,QCL,Crops and livestock products,792,Türkiye,5510,Production,22230.01,Yoghurt,2020,2020,t,10476.92,I,Imputed value,NaN
26523,QCL,Crops and livestock products,792,Türkiye,5510,Production,22230.01,Yoghurt,2021,2021,t,10424.80,I,Imputed value,NaN

In [2]:
set(urun['Year'])

{1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022}

In [35]:
urun = urun.drop(columns=['Flag','Flag Description','Note','Domain Code','Area Code (M49)','Element Code','Item Code (CPC)','Year Code'])
#urun.dropna()
urun

,Domain,Area,Element,Item,Year,Unit,Value
0,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,ha,13060.00
1,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1961,100 g/ha,20980.00
2,Crops and livestock products,Türkiye,Production,"Almonds, in shell",1961,t,27400.00
3,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1962,ha,13345.00
4,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1962,100 g/ha,18284.00
...,...,...,...,...,...,...,...
26519,Crops and livestock products,Türkiye,Production,Yoghurt,2017,t,10212.38
26520,Crops and livestock products,Türkiye,Production,Yoghurt,2018,t,10559.66
26521,Crops and livestock products,Türkiye,Production,Yoghurt,2019,t,10980.97
26522,Crops and livestock products,Türkiye,Production,Yoghurt,2020,t,10476.92
26523,Crops and livestock products,Türkiye,Production,Yoghurt,2021,t,10424.80

In [37]:
urun.to_csv('faostat.csv')
urun

,Domain,Area,Element,Item,Year,Value
0,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,13060.00
1,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1961,20980.00
2,Crops and livestock products,Türkiye,Production,"Almonds, in shell",1961,27400.00
3,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1962,13345.00
4,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1962,18284.00
...,...,...,...,...,...,...
26519,Crops and livestock products,Türkiye,Production,Yoghurt,2017,10212.38
26520,Crops and livestock products,Türkiye,Production,Yoghurt,2018,10559.66
26521,Crops and livestock products,Türkiye,Production,Yoghurt,2019,10980.97
26522,Crops and livestock products,Türkiye,Production,Yoghurt,2020,10476.92
26523,Crops and livestock products,Türkiye,Production,Yoghurt,2021,10424.80

In [6]:

import pandas as pd

# Meta verileri atla ve veri kısmını doğru sütun isimleriyle oku
column_names = ['timestamp', '[2 m elevation corrected]', 'Basel Precipitation Total']
climate = pd.read_csv('dataexport_20240630T082610.csv', skiprows=9, names=column_names)

# İlk birkaç satırı kontrol et
print(climate.head())

       timestamp                    [2 m elevation corrected]  \
0      timestamp  Basel Temperature [2 m elevation corrected]
1  19610101T0000                                   0.64024544
2  19610101T0100                                    0.9602454
3  19610101T0200                                    1.2002454
4  19610101T0300                                    0.8102454

   Basel Precipitation Total
0  Basel Precipitation Total
1                        0.0
2                        0.0
3                        0.0
4                        0.0

C:\Users\tugba\AppData\Local\Temp\ipykernel_18236\1173005545.py:5: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  climate = pd.read_csv('dataexport_20240630T082610.csv', skiprows=9, names=column_names)

In [7]:
# İlk 4 karakteri alarak Year sütununu oluştur
climate['Year'] = climate['timestamp'].str[:4]

# İlk birkaç satırı kontrol et
print(climate.head())

       timestamp                    [2 m elevation corrected]  \
0      timestamp  Basel Temperature [2 m elevation corrected]
1  19610101T0000                                   0.64024544
2  19610101T0100                                    0.9602454
3  19610101T0200                                    1.2002454
4  19610101T0300                                    0.8102454

   Basel Precipitation Total  Year
0  Basel Precipitation Total  time
1                        0.0  1961
2                        0.0  1961
3                        0.0  1961
4                        0.0  1961

In [17]:
climate=pd.read_csv('dataexport_20240630T082610.csv')
climate

,Unnamed: 0,timestamp,[2 m elevation corrected],Basel Precipitation Total,Year
0,1,19610101T0000,0.640245,0.0,1961
1,2,19610101T0100,0.960245,0.0,1961
2,3,19610101T0200,1.200245,0.0,1961
3,4,19610101T0300,0.810245,0.0,1961
4,5,19610101T0400,0.660245,0.0,1961
...,...,...,...,...,...
556404,556412,20240622T1900,15.950245,0.0,2024
556405,556413,20240622T2000,15.170245,0.0,2024
556406,556414,20240622T2100,15.060246,0.0,2024
556407,556415,20240622T2200,14.700245,0.0,2024
556408,556416,20240622T2300,13.850245,0.0,2024

In [27]:
#climate = climate.drop(index=0)
df = df.drop(columns=['Unnamed: 0'])

In [22]:
# '2 m elevation corrected' sütunu için ortalamayı al
climate['avg_temp'] = climate.groupby('Year')['[2 m elevation corrected]'].transform('mean')

# 'Basel Precipitation Total' sütunu için ortalamayı al
climate['avg_precipitation'] = climate.groupby('Year')['Basel Precipitation Total'].transform('mean')
climate

,timestamp,[2 m elevation corrected],Basel Precipitation Total,Year,avg_temp,avg_precipitation
0,19610101T0000,0.640245,0.0,1961,11.181358,0.088196
1,19610101T0100,0.960245,0.0,1961,11.181358,0.088196
2,19610101T0200,1.200245,0.0,1961,11.181358,0.088196
3,19610101T0300,0.810245,0.0,1961,11.181358,0.088196
4,19610101T0400,0.660245,0.0,1961,11.181358,0.088196
...,...,...,...,...,...,...
556404,20240622T1900,15.950245,0.0,2024,10.377858,0.133022
556405,20240622T2000,15.170245,0.0,2024,10.377858,0.133022
556406,20240622T2100,15.060246,0.0,2024,10.377858,0.133022
556407,20240622T2200,14.700245,0.0,2024,10.377858,0.133022
556408,20240622T2300,13.850245,0.0,2024,10.377858,0.133022

In [30]:
# Indeksi sıfırla (satır olarak numaralandırmayı kaldır)
df.reset_index(drop=True, inplace=True)
df

    Year   avg_temp  avg_precipitation
0   1961  11.181358           0.088196
1   1962   9.536632           0.083082
2   1963   8.908176           0.087922
3   1964  10.170688           0.081455
4   1965   9.422461           0.129897
..   ...        ...                ...
59  2020  12.367193           0.092452
60  2021  10.741261           0.117021
61  2022  12.733459           0.089189
62  2023  12.959573           0.092237
63  2024  10.377858           0.133022

[64 rows x 3 columns]

In [1]:
import pandas as pd
merged=pd.read_csv('gecici.csv')
merged = merged.drop(columns=['Unnamed: 0'])

merged

,Item,Year,Value,avg_temp,avg_precipitation,production_metric,water_metric,Product Group,Scaled_Value
0,"Almonds, in shell",1961,13060.00,11.181358,0.088196,16.219721,8.819635,Cereals and Legumes,12.19510
1,"Almonds, in shell",1961,13060.00,11.181358,0.088196,16.219721,8.819635,Cereals and Legumes,6.77510
2,"Almonds, in shell",1961,13060.00,11.181358,0.088196,16.219721,8.819635,Cereals and Legumes,91.89095
3,"Almonds, in shell",1961,13060.00,11.181358,0.088196,16.219721,8.819635,Cereals and Legumes,15.00050
4,"Almonds, in shell",1961,20980.00,11.181358,0.088196,16.219721,8.819635,Cereals and Legumes,12.19510
...,...,...,...,...,...,...,...,...,...
106091,Yoghurt,2020,10476.92,12.367193,0.092452,25.270818,9.245219,Livestock and Animal Products,18.26315
106092,Yoghurt,2021,10424.80,10.741261,0.117021,25.377305,11.702055,Livestock and Animal Products,22.95945
106093,Yoghurt,2021,10424.80,10.741261,0.117021,25.377305,11.702055,Livestock and Animal Products,27.86270
106094,Yoghurt,2021,10424.80,10.741261,0.117021,25.377305,11.702055,Livestock and Animal Products,115.32685
106095,Yoghurt,2021,10424.80,10.741261,0.117021,25.377305,11.702055,Livestock and Animal Products,22.85370

In [4]:
import pandas as pd

# CSV dosyasının yolu ve adı

# CSV dosyasını pandas DataFrame olarak yükle
df = merged

# 'Product Group' sütununda 'hayvansal' olanları filtreleyin
hayvansal_veriler = df[df['Product Group'] == 'hayvansal']

# Yıl bazında gruplayarak value değerlerini toplayın
annual_data = hayvansal_veriler.groupby('Year')['Value'].sum()

# Sonuçları yazdırın veya başka bir işlem yapın
annual_data

Series([], Name: Value, dtype: float64)

In [30]:
def categorize_product(item):
    fruits_and_vegetables = [ 'Abaca, manila hemp, raw','Agave fibres, raw, n.e.c.',  'Anise, badian, coriander, cumin, caraway, fennel and juniper berries, raw',
         'Apples', 'Apricots', 'Artichokes', 'Asparagus', 'Avocados', 'Maté leaves','Other pome fruits','Taro','Potatoes','Leeks and other alliaceous vegetables',
        'Bananas', 'Blueberries', 'Broad beans and horse beans, green', 'Cabbages',   'Peppermint, spearmint','Quinces','Wine',
        'Cantaloupes and other melons', 'Carrots and turnips', 'Cassava leaves', 'Pepper (Piper spp.), raw','Sweet potatoes','Sugar beet', 'Sugar cane',
        'Cauliflowers and broccoli', 'Cherries',  'Kapok fruit','Vegetable Primary','True hemp, raw or retted','Olives','Mushrooms and truffles',
        'Chillies and peppers, green (Capsicum spp. and Pimenta spp.)', 'Chillies and peppers, dry (Capsicum spp., Pimenta spp.), raw',
           'Cranberries', 'Cucumbers and gherkins', 'Other beans, green','Other tropical fruits, n.e.c.', 'Other vegetables, fresh n.e.c.',
        'Dates', 'Eggplants (aubergines)', 'Figs', 'Ginger, raw', 'Gooseberries', 'Other fruits, n.e.c.', 'Green tea (not fermented), black tea (fermented) and partly fermented tea, in immediate packings of a content not exceeding 3 kg',
        'Grapes', 'Green corn (maize)', 'Green garlic', 'Kiwi fruit', 'Lemons and limes',  'Tea leaves',  'Unmanufactured tobacco',  
        'Lettuce and chicory', 'Mangoes, guavas and mangosteens', 'Okra', 'Onions and shallots, dry (excluding dehydrated)','Beer of barley, malted',
        'Onions and shallots, green', 'Oranges', 'Papayas', 'Peaches and nectarines', 'Other stone fruits','Other sugar crops n.e.c.',
        'Pears',  'Peas, green', 'Pepper (Piper spp.), raw', 'Persimmons',  'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 
        'Pineapples',  'Plantains and cooking bananas', 'Plums and sloes', 'Other berries and fruits of the genus vaccinium n.e.c.', 
        'Pomelos and grapefruits', 'Pumpkins, squash and gourds', 'Raspberries', 'Sour cherries', 'Vegetables Primary',
        'Spinach', 'Strawberries', 'String beans', 'Tangerines, mandarins, clementines', 'Tomatoes', 'Watermelons',   'Molasses', 'Raw cane or beet sugar (centrifugal only)', 'Natural honey'
    ]
    legumes_and_oilseeds = ['Broad beans and horse beans, dry','Soya beans','Soya bean oil','Safflower seed','Rape or colza seed','Groundnuts, excluding shelled','Melonseed',
        'Almonds, in shell','Barley', 'Beans, dry', 'Buckwheat', 'Canary seed', 'Chick peas, dry', 'Cow peas, dry','Peas, dry',  'Other pulses n.e.c.',  'Mustard seed',
        'Fonio', 'Lentils, dry', 'Lupins', 'Maize (corn)', 'Millet', 'Mixed grain', 'Oats', 'Chestnuts, in shell','Pistachios, in shell','Treenuts, Total','Margarine and shortening',
        'Quinoa', 'Rice', 'Rye', 'Sorghum', 'Soybeans', 'Sunflower seed', 'Triticale', 'Wheat','Chick peas, dry','Coffee, green', 'Castor oil seeds', 'Coconut oil', 'Cotton seed', 'Cottonseed oil', 'Groundnut oil', 
        'Hazelnuts, in shell', 'Hempseed', 'Linseed', 'Olive oil', 'Oil of linseed',  'Kapokseed in shell','Mixed grain','Other oil seeds, n.e.c.','Vanilla, raw',
        'Oil of maize', 'Oil of palm kernel', 'Oil of sesame seed', 'Palm kernels', 'Jojoba seeds', 'Karite nuts (sheanuts)','Tallowtree seeds','Tung nuts', 
        'Palm oil', 'Poppy seed', 'Rapeseed or canola oil, crude', 'Sesame seed', 'Flax, raw or retted','Locust beans (carobs)','Other nuts (excluding wild edible nuts and groundnuts), in shell, n.e.c.', 
        'Soybean oil', 'Sunflower-seed oil, crude','Cocoa beans','Areca nuts','Coir, raw','Walnuts, in shell','Other stimulant, spice and aromatic crops, n.e.c.', 'Vetches'
    ]
    livestock_and_animal_products = [ 'Crops and livestock products','Yoghurt','Whole milk, condensed','Whey, dry','Cheese from milk of sheep, fresh or processed',
        'Asses', 'Beef and Buffalo Meat, primary', 'Bees', 'Buffalo', 'Butter and Ghee',  'Ghee from buffalo milk','Skim Milk & Buttermilk, Dry', 'Skim milk and whey powder', 'Skim milk of cows', 'Skim milk, condensed', 
        'Skim milk, evaporated', 'Tallow','Buffalo fat, unrendered','Whole milk powder','Buttermilk, dry','Cattle fat, unrendered','Mules and hinnies',
        'Butter and ghee of sheep milk', 'Butter of buffalo milk', 'Butter of cow milk', 'Butter of goat milk','Cheese from milk of goats, fresh or processed',
        'Camels', 'Cattle', 'Cattle and Buffaloes', 'Cheese (All Kinds)', 'Chickens', 'Ducks', 'Ghee from cow milk','Cheese from whole cow milk',
        'Edible offal of buffalo, fresh, chilled or frozen', 'Edible offal of cattle, fresh, chilled or frozen','Nutmeg, mace, cardamoms, raw',
        'Edible offal of goat, fresh, chilled or frozen', 'Edible offal of pigs, fresh, chilled or frozen','Evaporated & Condensed Milk','Horse meat, fresh or chilled',
        'Edible offal of sheep, fresh, chilled or frozen', 'Eggs Primary', 'Eggs from other birds in shell, fresh, n.e.c.','Swine / pigs','Rabbits and hares',
        'Fat of camels', 'Fat of pigs', 'Game meat, fresh, chilled or frozen', 'Geese', 'Goat fat, unrendered', 'Goats','Raw milk of sheep',
        'Horses', 'Meat of asses, fresh or chilled', 'Meat of buffalo, fresh or chilled', 'Meat of camels, fresh or chilled','Cheese from skimmed cow milk',
        'Meat of cattle with the bone, fresh or chilled', 'Meat of chickens, fresh or chilled', 'Meat of ducks, fresh or chilled','Cream, fresh',
        'Meat of geese, fresh or chilled', 'Meat of goat, fresh or chilled', 'Meat of mules, fresh or chilled','Chickens','Turkeys','Hen eggs in shell, fresh',
        'Meat of other domestic camelids, fresh or chilled', 'Meat of other domestic rodents, fresh or chilled', 'Other meat n.e.c. (excluding mammals), fresh, chilled or frozen',
        'Meat of pig with the bone, fresh or chilled', 'Meat of pigeons and other birds n.e.c., fresh, chilled or frozen','Sheep fat, unrendered',
        'Meat of rabbits and hares, fresh or chilled', 'Meat of sheep, fresh or chilled', 'Meat of turkeys, fresh or chilled',
        'Poultry Birds', 'Sheep', 'Sheep and Goat Meat', 'Snails, fresh, chilled, frozen, dried, salted or in brine, except sea snails','Raw hides and skins of buffaloes', 'Raw hides and skins of cattle', 'Raw hides and skins of goats or kids', 
        'Raw hides and skins of sheep or lambs', 'Raw milk of buffalo', 'Raw milk of camel', 'Raw milk of cattle', 'Raw milk of goats',
                                     'Edible offals of camels and other camelids, fresh, chilled or frozen','Edible offals of horses and other equines,  fresh, chilled or frozen',
    ]
   
   
    cotton_silk_like = [
         
         'Balata, gutta-percha, guayule, chicle and similar natural gums in primary forms or in plates, sheets or strip',
        'Beeswax',  'Cotton lint, ginned',  'Fibre Crops, Fibre Equivalent',
          'Hop cones',  'Jute, raw or retted',
        'Kapok fibre, raw', 'Kenaf, and other textile bast fibres, raw or retted',
            'Natural rubber in primary forms', 
        'Other fibre crops, raw, n.e.c.', 
        'Ramie, raw or retted', 'Seed cotton, unginned',
         'Raw silk (not thrown)', 'Shorn wool, greasy, including fleece-washed shorn wool', 'Silk-worm cocoons suitable for reeling',
        'Sisal, raw',  
           ]
    
    if item in fruits_and_vegetables :
        return 'Fruits and Vegetables'
    elif item in legumes_and_oilseeds :
        return 'Cereals and Legumes'
    elif item in livestock_and_animal_products:
        return 'Livestock and Animal Products'
    elif item in cotton_silk_like:
        return 'cotton_silk_like'

In [31]:
df['Product Group'] = df['Item'].apply(categorize_product)
df

,Unnamed: 0,Domain,Area,Element,Item,Year,Value,avg_temp,avg_precipitation,production_metric,water_metric,temperature,Product Group
0,0,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,13060.00,11.181358,0.088196,16.219721,8.819635,11.181358,Cereals and Legumes
1,1,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1961,20980.00,11.181358,0.088196,16.219721,8.819635,11.181358,Cereals and Legumes
2,2,Crops and livestock products,Türkiye,Production,"Almonds, in shell",1961,27400.00,11.181358,0.088196,16.219721,8.819635,11.181358,Cereals and Legumes
3,3,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1962,13345.00,9.536632,0.083082,15.916495,8.308219,9.536632,Cereals and Legumes
4,4,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1962,18284.00,9.536632,0.083082,15.916495,8.308219,9.536632,Cereals and Legumes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26519,26519,Crops and livestock products,Türkiye,Production,Yoghurt,2017,10212.38,11.616636,0.101610,22.724120,10.160959,11.616636,Livestock and Animal Products
26520,26520,Crops and livestock products,Türkiye,Production,Yoghurt,2018,10559.66,12.562935,0.084041,23.501667,8.404110,12.562935,Livestock and Animal Products
26521,26521,Crops and livestock products,Türkiye,Production,Yoghurt,2019,10980.97,11.908582,0.101849,24.166516,10.184932,11.908582,Livestock and Animal Products
26522,26522,Crops and livestock products,Türkiye,Production,Yoghurt,2020,10476.92,12.367193,0.092452,25.270818,9.245219,12.367193,Livestock and Animal Products
26523,26523,Crops and livestock products,Türkiye,Production,Yoghurt,2021,10424.80,10.741261,0.117021,25.377305,11.702055,10.741261,Livestock and Animal Products

In [22]:
merged.loc[merged['Product Group'].isnull() == True]

Empty DataFrame
Columns: [Domain, Area, Element, Item, Year, Value, avg_temp, avg_precipitation, Product Group]
Index: []

In [32]:
print(pd.isnull(df).sum())

Unnamed: 0           0
Domain               0
Area                 0
Element              0
Item                 0
Year                 0
Value                0
avg_temp             0
avg_precipitation    0
production_metric    0
water_metric         0
temperature          0
Product Group        0
dtype: int64

In [33]:
df.to_csv('df_for_analyze.csv')
df

,Unnamed: 0,Domain,Area,Element,Item,Year,Value,avg_temp,avg_precipitation,production_metric,water_metric,temperature,Product Group
0,0,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,13060.00,11.181358,0.088196,16.219721,8.819635,11.181358,Cereals and Legumes
1,1,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1961,20980.00,11.181358,0.088196,16.219721,8.819635,11.181358,Cereals and Legumes
2,2,Crops and livestock products,Türkiye,Production,"Almonds, in shell",1961,27400.00,11.181358,0.088196,16.219721,8.819635,11.181358,Cereals and Legumes
3,3,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1962,13345.00,9.536632,0.083082,15.916495,8.308219,9.536632,Cereals and Legumes
4,4,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1962,18284.00,9.536632,0.083082,15.916495,8.308219,9.536632,Cereals and Legumes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26519,26519,Crops and livestock products,Türkiye,Production,Yoghurt,2017,10212.38,11.616636,0.101610,22.724120,10.160959,11.616636,Livestock and Animal Products
26520,26520,Crops and livestock products,Türkiye,Production,Yoghurt,2018,10559.66,12.562935,0.084041,23.501667,8.404110,12.562935,Livestock and Animal Products
26521,26521,Crops and livestock products,Türkiye,Production,Yoghurt,2019,10980.97,11.908582,0.101849,24.166516,10.184932,11.908582,Livestock and Animal Products
26522,26522,Crops and livestock products,Türkiye,Production,Yoghurt,2020,10476.92,12.367193,0.092452,25.270818,9.245219,12.367193,Livestock and Animal Products
26523,26523,Crops and livestock products,Türkiye,Production,Yoghurt,2021,10424.80,10.741261,0.117021,25.377305,11.702055,10.741261,Livestock and Animal Products

In [29]:
df=pd.read_csv('df_for_analyze.csv')
df

,Unnamed: 0,Domain,Area,Element,Item,Year,Value,avg_temp,avg_precipitation,production_metric,water_metric,temperature
0,0,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,13060.00,11.181358,0.088196,16.219721,8.819635,11.181358
1,1,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1961,20980.00,11.181358,0.088196,16.219721,8.819635,11.181358
2,2,Crops and livestock products,Türkiye,Production,"Almonds, in shell",1961,27400.00,11.181358,0.088196,16.219721,8.819635,11.181358
3,3,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1962,13345.00,9.536632,0.083082,15.916495,8.308219,9.536632
4,4,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1962,18284.00,9.536632,0.083082,15.916495,8.308219,9.536632
...,...,...,...,...,...,...,...,...,...,...,...,...
26519,26519,Crops and livestock products,Türkiye,Production,Yoghurt,2017,10212.38,11.616636,0.101610,22.724120,10.160959,11.616636
26520,26520,Crops and livestock products,Türkiye,Production,Yoghurt,2018,10559.66,12.562935,0.084041,23.501667,8.404110,12.562935
26521,26521,Crops and livestock products,Türkiye,Production,Yoghurt,2019,10980.97,11.908582,0.101849,24.166516,10.184932,11.908582
26522,26522,Crops and livestock products,Türkiye,Production,Yoghurt,2020,10476.92,12.367193,0.092452,25.270818,9.245219,12.367193
26523,26523,Crops and livestock products,Türkiye,Production,Yoghurt,2021,10424.80,10.741261,0.117021,25.377305,11.702055,10.741261

In [27]:
df = df.drop(columns=['Unnamed: 0','temperature'])
df

,Domain,Area,Element,Item,Year,Value,avg_temp,avg_precipitation,production_metric,water_metric
0,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,13060.00,11.181358,0.088196,16.219721,8.819635
1,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1961,20980.00,11.181358,0.088196,16.219721,8.819635
2,Crops and livestock products,Türkiye,Production,"Almonds, in shell",1961,27400.00,11.181358,0.088196,16.219721,8.819635
3,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1962,13345.00,9.536632,0.083082,15.916495,8.308219
4,Crops and livestock products,Türkiye,Yield,"Almonds, in shell",1962,18284.00,9.536632,0.083082,15.916495,8.308219
...,...,...,...,...,...,...,...,...,...,...
26519,Crops and livestock products,Türkiye,Production,Yoghurt,2017,10212.38,11.616636,0.101610,22.724120,10.160959
26520,Crops and livestock products,Türkiye,Production,Yoghurt,2018,10559.66,12.562935,0.084041,23.501667,8.404110
26521,Crops and livestock products,Türkiye,Production,Yoghurt,2019,10980.97,11.908582,0.101849,24.166516,10.184932
26522,Crops and livestock products,Türkiye,Production,Yoghurt,2020,10476.92,12.367193,0.092452,25.270818,9.245219
26523,Crops and livestock products,Türkiye,Production,Yoghurt,2021,10424.80,10.741261,0.117021,25.377305,11.702055

,Domain,Area,Element,Item,Year,Value,avg_temp,avg_precipitation,production_metric,water_metric,Product Group
0,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,13060.0,11.181358,0.088196,16.219721,8.819635,Cereals and Legumes
1,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,13060.0,11.181358,0.088196,16.219721,8.819635,Cereals and Legumes
2,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,13060.0,11.181358,0.088196,16.219721,8.819635,Cereals and Legumes
3,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,13060.0,11.181358,0.088196,16.219721,8.819635,Fruits and Vegetables
4,Crops and livestock products,Türkiye,Area harvested,"Almonds, in shell",1961,13060.0,11.181358,0.088196,16.219721,8.819635,Fruits and Vegetables
...,...,...,...,...,...,...,...,...,...,...,...
11349055,Crops and livestock products,Türkiye,Production,Yoghurt,2021,10424.8,10.741261,0.117021,25.377305,11.702055,Livestock and Animal Products
11349056,Crops and livestock products,Türkiye,Production,Yoghurt,2021,10424.8,10.741261,0.117021,25.377305,11.702055,Livestock and Animal Products
11349057,Crops and livestock products,Türkiye,Production,Yoghurt,2021,10424.8,10.741261,0.117021,25.377305,11.702055,Livestock and Animal Products
11349058,Crops and livestock products,Türkiye,Production,Yoghurt,2021,10424.8,10.741261,0.117021,25.377305,11.702055,Fruits and Vegetables
11349059,Crops and livestock products,Türkiye,Production,Yoghurt,2021,10424.8,10.741261,0.117021,25.377305,11.702055,Livestock and Animal Products